:root {
    --late0: #d7d7d7;
    --late1: #b1b1b1;
    --late2: #aaa;
    --late3: #888;

    --black: #222;
    --black0: #161719;

    --bg-purple: #01001f;

    --accent-red: #d44b4e;
    --accent-orange: #e97157;
    --accent-green: #72ae51;

    --accent-bg: #1b2838;

    --gradient-down: linear-gradient( 60deg, #1b2838 55%, #444444 150%);
}