@import "/css/design.css";

@import "/css/fonts.css";
@import "/css/containers.css";
@import "/css/colors.css";
@import "/css/inputs.css";


:root {
    scroll-behavior: smooth;
}

html, body {
    font-family: 'Raleway', 'Roboto', 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;

    min-height: 100vh;

    overflow-x: hidden;

    color: var(--late0);
    background: var(--gradient-down);
}

.main-wrapper {
    display: flex;
    flex-flow: column;   
}

.container {
    padding: 2rem;
}